<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrophysical Search</title>
    <meta author="Tarso Keletzi">
    <link rel="stylesheet" href="{{ url_for('static', path='index.css') }}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>
    <div class="container">
      <h1>Astrophysical Journal Search</h1>
      <div class="button-container">
        <form action="/search" method="get" id="title">
          <button type="submit" name="search_type" value="title" class="button">Search By Title</button>
        </form>

        <form action="/search" method="get" id="author">
          <button type="submit" name="search_type" value="author" class="button">Search By Author</button>
        </form>

        <form action="/search" method="get" id="year">
          <button type="submit" name="search_type" value="year" class="button">Search By Year</button>
        </form>

        <form action="/search" method="get" id="year_range">
          <button type="submit" name="search_type" value="year_range" class="button">Search By Year Range</button>
        </form>

        <form action="/search" method="get" id="journal">
          <button type="submit" name="search_type" value="journal" class="button">Search By Journal</button>
        </form>

        <form action="/search" method="get" id="doi">
          <button type="submit" name="search_type" value="doi" class="button">Search By DOI</button>
        </form>

        <form action="/search" method="get" id="table_caption">
          <button type="submit" name="search_type" value="table_caption" class="button">Search By Table Caption</button>
        </form>

        <form action="/search" method="get" id="author_and_year">
          <button type="submit" name="search_type" value="author_and_year" class="button">Search By Author & Year </button>
        </form>
        
        <form action="/search" method="get" id="author_and_journal">
          <button type="submit" name="search_type" value="author_and_journal" class="button">Search By Author & Journal</button>
        </form>

        <form action="/search" method="get" id="journal_and_year">
          <button type="submit" name="search_type" value="journal_and_year" class="button">Search By Journal & Year</button>
        </form>
      </div>
    </div>
  </body>
</html>