<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrophysical Search</title>
    <meta author="Tarso Keletzi">
    <link rel="stylesheet" href="{{ url_for('static', path='query.css') }}">
    <script src="{{ url_for('static', path='script.js') }}"></script>
  </head>
  <body onload="checkPageQueryDisplay()">
    <div class="container">
      <h1>Astrophysical Journal Search</h1>
      <h4 id="search-type-header"></h4>
      <div class="button-container">
          <form action="/query" method="get" id="query" >
              {% if search_type == "author_and_journal" or search_type == "journal_and_year" or search_type == "journal" %}
              <select name="input_search" id="input_text" class="input" required> 
                <option value="" selected disabled hidden>Choose Journal</option>
                <option value="aanda">Astronomy & Astrophysics (A&A)</option>
                <option value="mnras">Monthly Notices of the Royal Astronomical Society(MNRAS)</option>
                <option value="the_astronomical_journal">The Astronomical Journal</option>
                <option value="the_astrophysical_journal">The Astrophysical Journal</option>
              </select>
              {% else %}
                <input type="text" name="input_search" id="input_text" value="" class="input" placeholder="Enter {{search_type}}..." required></input>
              {% endif %}
              {% if search_type == "doi" %}
              <label for="mrt_inclusion"> Include mrt tables
                <input type="checkbox" name="mrt_inclusion" id="extra_mrts" value="mrts"
                              class="input"></label>
              {% endif %}
              {% if search_type == "year_range" or search_type == "author_and_year" or search_type == "author_and_journal" or search_type == "journal_and_year"  %}
                <input type="text" name="extra_input_search" id="extra_input_text" value=""
                              class="input" placeholder="" required>
              {% endif %}
             <button type="submit" name="search_type" value={{search_type}} class="button">Search</button>
          </form>
          <form action="/" method="get" id="back_btn">
              <button type="submit" name="" value="" class="button">Back</button>
          </form>
        </div>
    </div>
  </body>
</html>