<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrophysical Search</title>
    <meta author="Tarso Keletzi">
    <link rel="stylesheet" href="{{ url_for('static', path='query.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Astrophysical Journal Search</h1>
      <div class="button-container">
          <form action="/query" method="get" id="query">
              <input type="text" name="input_search" id="input_text" value="" class="input" placeholder="Enter {{search_type}}..." required></input>
              <button type="submit" name="search_type" value={{search_type}} class="button">Search</button>
            </form>
      </div>
    </div>
  </body>
</html>